<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <a href="~/Views/Home/index.cshml">Index</a>

    <div>
        @RenderBody()
    </div>
</body>
</html>
