@model UserAccount
@{
    ViewBag.Title = "Add User";
}

    <div>
        <form asp-controller="home" asp-action="AddUser" method="post">
            <label asp-for="Username"></label>
            <input asp-for="Username" />

            <label asp-for="Password"></label>
            <input asp-for="Password" />

            <label asp-for="Fname"></label>
            <input asp-for="Fname" />

            <label asp-for="Lname"></label>
            <input asp-for="Lname" />

            <label asp-for="Address"></label>
            <input asp-for="Address" />

            <label asp-for="EMail"></label>
            <input asp-for="EMail" />

            <button type="submit">Add</button>
        </form>
    </div>
