@model UserAccount
@{
    ViewBag.Title = "Add User";
}

<form asp-controller="Home" asp-action="Login">

    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <button type="submit">Login</button>

</form>