@model UserAccount
@{
    ViewBag.Title = "Remove User";
}

<form asp-controller="Home" asp-action="RemoveUser">
    <label asp-for="Id"></label>
    <input asp-for="Id" />
    <button type="submit">Remove</button>
</form>

