@{
    ViewBag.Title = "Product Page";
}

    <div class="card col-10 mt-3 mb-3 p-3 shadow-lg">
        <div class="">
            <img src="~/img/Trees/california_privet.jpg" class="img-fluid" alt="Responsive image">

            <h1 class="card-title">California Privet</h1>


            <!--tabel for price max height and growth rate-->
            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">Price</th>
                        <td> $150</td>
                    </tr>
                    <tr>
                        <th scope="row">Max Height</th>
                        <td> 10 ~ 15 ft</td>
                    </tr>
                    <tr>
                        <th scope="row">Growth Rate</th>
                        <td> Fast</td>

                    </tr>
                </tbody>
            </table>


            <b>Discription</b><br>
            <p>
                There is always a need for a tough plant for those tough spots that are found in most gardens. Underneath large,
                established trees; in a hot, dry area; where you need evergreen screening in a hurry; or where you want an easy,
                low-maintenance plant in a harsh urban situation. California Privet is the answer to all these problems, and more.
            </p>

            <!--Using unorder list for printing condition of place to be planted-->
            <b>Conditions of Place to be planted:</b><br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Sun:         </b>Full Sun to patial shade    </li>
                <li class="list-group-item"><b>Drainage:    </b>Ordinary well-drained soil  </li>
            </ul>

            <div class="card-body">
                <b>Maintenace Requirements</b>
                <p>
                    Choose a sunny or shady spot for your California Privet. The great thing about this plant is that it will grow
                    almost anywhere, under the harshest conditions, although it is not tolerant of constantly wet soil. Young plants
                    will benefit from some fertilizer, but really this is a plant you can just put in and leave alone – ideal for the
                    busy gardener. California Privet is free of any significant pests or diseases and very tolerant of drought.
                </p>
            </div>

            <!--buy or return buittons-->


            <button type="button" class="btn btn-success btn-block" onclick="alert('Hello world!')">Buy</button>

            <button type="button" class="btn btn-outline-danger btn-block" onclick="alert('Hello world!')">Return</button>

        </div>
    </div>